@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');


:root {
  --text-color: #F8F8F2;
  --bg-url: url('../img/bg-mobile.jpg');
  --stroke-color: rgba(248, 248, 242, 0.5);
  --surface-color: rgba(248, 248, 242, 0.1);
  --surface-color-hover: rgba(248, 248, 242, 0.05);
  --highlight-color: rgba(248, 248, 242, 0.1);
  --switch-bg-url: url('../img/moon-stars.svg');
}

.light {
  --text-color: #000;
  --bg-url: url('../img/bg-mobile-light.jpg');
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url('../img/sun.svg');
}

* {
  /* Zerar valores do navegador */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: Inter, sans-serif;
  color: var(--text-color);
}

body {
  height: 100vh;
  background: var(--bg-url) no-repeat top center / cover;

  /* background-image: url('../img/bg-mobile.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; */
}

.container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0;
  padding: 0 24px;
}

.profile {
  text-align: center;
  padding: 24px;
}

.profile img {
  width: 120px;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 50%;
  object-fit: cover;
  border-width: 2px;
}

.profile p {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

.switch button {
  width: 32px;
  height: 32px;
  background: #F8F8F2 var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  z-index: 1;
  animation: slide-back .2s forwards;
}

.switch button:hover {
  cursor: pointer;
  outline: 8px solid var(--highlight-color);
}

.light .switch button {
  animation: slide-in .2s forwards;
}


.switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* Links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  font-weight: 500;
  text-decoration: none;

  background: var(--surface-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;

  border-radius: 8px;
  border: 1px solid var(--stroke-color);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  transition: background .2s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1px solid var(--text-color);
}

.social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}


.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: background .2s;
}


.social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0;
  font-size: 14px;
  text-align: center;
}

/* Media queries */
@media (min-width: 700px) {
  :root {
    --bg-url: url('../img/bg-desktop.jpg');
  }

  .light {
    --bg-url: url('../img/bg-desktop-light.jpg');
  }
}

/* Animation */
@keyframes slide-in {
  from {
    left: 0;
  }

  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }

  to {
    left: 0;
  }
}
